{% extends "znetroyal/views/templates/base.html" %}
{% block content %}
  <div class="row">
  	<div class="large-4 column">
  		<ul>
  			<li>ini link penggembira</li>
  		</ul>
  	</div>
  	<div class="large-8 column" id="znContent">
      
      
  		<h4>  
  			{{webdata.title}}
  		</h4>
  		<br>
      
      
  		<table>
  			<thead>
  				<th>Rank</th>
  				
  				<th>Content Title</th>
          <th>Video played</th>
  			</thead>
  			<tbody>
  				{% for data in webdata.topchart %}
  					<tr>
  						<td>
  							<center>
  								{{data.rank}}
  							</center>
  						</td>
  						
  						<td>{{data.name}}</td>
              <td>
                <center>
                  {{data.played}}
                </center>
              </td>
  					</tr>
  				{% endfor %}
  			</tbody>
  		</table>
  	</div>
  </div>
    
{% endblock %}
